## Ignore build results
**/bin/
**/obj/

## Ignore IDE files
.vscode/
.idea/
*.user
*.suo

## Ignore EVERYTHING inside wwwroot
wwwroot/**
!wwwroot/

## Ignore logs & temp
*.log
*.cache
.vs/

## Optional: ignore published output
**/publish/

# production build
/dist

# Vite cache
/.vite

# local env files
.env
.env.*.local
