## Ignore build results
**/bin/
**/obj/

## Ignore Rider, VSCode, and Visual Studio files
.vscode/
.idea/
*.user
*.suo

# Ignore all files in wwwroot (typically user uploads)
wwwroot/**

## Ignore other build outputs and logs
*.log
*.cache
*.vs/

## Optional: ignore published output
**/publish/

# production build
/dist

# Vite cache
/.vite

# local env files
.env
.env.*.local
