<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feasto - Catering for Every Occasion</title>
    <script src="~/lib/tailwindcss/tailwindcss.css"></script>
    <script src="~/lib/react/react-development.js"></script>
    <script src="~/lib/react/react-dom-development.js"></script>
    <script src="~/lib/react/babel.min.js"></script>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     
</html>